.categorylist{
     display:flex;
    margin: 10px 0;

}



.categorylist::-webkit-scrollbar{
    display: none;
}

@media(max-width: 760px){
    .categorylist{
        overflow-y: hidden;
        overflow-x : scroll;
        margin: 20px 0;
    }
}